body{
    background-color:blue;
    background-repeat: no-repeat;
    color:lime;
}
h1{
    font-variant-caps: all-petite-caps;
}
.kep{
    position: absolute;
    left: 600px;
    top: 300px;
    width: 1280px;
    height: 720px;
}
a{
    color:white;
}