body{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
}
h2{
    color: white;
}
.gta{
    position: absolute;
    left: 1300px;
}
.id{
    width: 500px;
    height: 300px;
}
li{
    margin: 3px 0px;
    font-style: italic;
    color: white;
}  
a{
    color:white;
}